.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; }
  .container input[type="text"] {
    border: none;
    font-size: 50px;
    text-align: center; }
    .container input[type="text"]:focus {
      outline: none; }
  .container .tiny {
    font-size: 20px; }
